.divContainer {
    margin-top: 100px;
}

.seeOrders {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #000080;
    border-radius: 5px;
    padding: 2px;
}

.seeOrders h2 {
    color: white;
}

.divBtnNew {
    display: flex;
    justify-content: end;
}

.panel {
    height: 1000px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }