.divContainer {
    margin-top: 100px;
}

.seeOrders {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #000080;
    border-radius: 5px;
    padding: 2px;
}

.seeOrders h2 {
    color: white;
}

.divBtnNew {
    display: flex;
    justify-content: end;
}
